<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <div class="user-actions">
          <span class="profile-link">
            <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
          </span>
          <% if current_user.requester_friendship || !current_user.requested_friendship %>
            <%= link_to 'Add Friend', "sent_invitation/#{user.id}" , class:"btn btn-primary friendship-invitation" %>
          <% elsif user.id != current_user.id && current_user.pending_invitation?(user.id) %>
            <button class="btn btn-primary friendship-invitation"> Pending Invitation </button>
          <% else %>
            <button class="btn btn-primary friendship-invitation"> Accept </button>
            <button class="btn btn-primary friendship-invitation"> Decline </button>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</section>
