<section class="users-section">
  <ul class="users-list">
    <% @invitations.each do |invitation| %>
      <li>
        Name: <%= invitation.name %>
        <div class="user-actions">
          <span class="profile-link">
            <%= link_to 'See Profile',  user_path(invitation), class: 'profile-link' %>
          </span>
          <%= link_to 'Accept', "accept_invitation/#{invitation.id}", class:"btn btn-primary friendship-invitation" %>
          <%= link_to 'Decline', "reject_invitation/#{invitation.id}", method: 'DELETE', class:"btn btn-primary friendship-invitation" %>
        </div>
      </li>
    <% end %>
  </ul>
</section>
